<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Smoke</title>
    <link rel="stylesheet" href="./Estilos/style.css">
    <link rel="stylesheet" href="./Estilos/Smoke.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="./Heart.html">Lunes</a></li>
            <li><a href="./LoveLetter.html">Martes</a></li>
            <li><a href="./Flowers.html">Miercoles</a></li>
            <li><a href="./Light.html">Jueves</a></li>
            <li><a href="./Smoke.html">Viernes</a></li>
            <li><a href="./SurpriseCard.html">Sabado</a></li>
            <li><a href="./Kiss.html">Domingo</a></li>
        </ul>
    </nav>
    <canvas id="pinkboard"></canvas>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./Scripts/Smoke.js"></script>
</body>
</html>